@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal; 
}

:root{
     --cor0: #c5ebd6;
     --cor1: #83E1AD;
     --cor2: #3DDC84;
     --cor3: #2FA866;
     --cor4: #1A5C37;
     --cor5: #063d1e;
    --fonte-1: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-2:'Bebas Neue, cursive';
    --fonte-3:'Android',Sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--cor0);
    font-family: var(--fonte-1);
}

header {
    background-image:linear-gradient(to bottom,var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding: 20px;
    
}

header h1{
    color: white;
    font-family: var(--fonte-2);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.489);
    
}

header p{
    color: white;
    font-family: var(--fonte1);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.489);
}

nav {
    background-color: #063d1e;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.333);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: .5s;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.296);
}

nav > a:hover {
    background-color: #3DDC84;
    color:#1A5C37;
}

main{
    min-width: 400px;
    max-width: 800px;
    margin:auto;
    margin-bottom: 30px;
    padding: 20px ;
    background-color: white;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.593);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


main h1 {
    font-family:var(--fonte-3) ;
    color: var(--cor4);
    font-weight: normal;
    margin-bottom: 10px;
}
main h2{
    background-image: linear-gradient(to right, var(--cor2), var(--cor0));
    font-family: var(--fonte-3);
    font-weight: normal;
    color:var(--cor5);
    background-color: var(--cor1);
    margin-bottom: 10px;
}

main img{
    display: block;
    margin: auto;
    
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main a {
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor5);
    font-weight: bolder;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

div.video {
    background-color: #063d1e;
    margin: 0px -20px 30px -20px ;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

a.externo::after {
    content: '\00A0\1F517';

}

aside{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.493);
    background-color:#2FA866;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\00A0\2714';
}

aside h3{
    background-color: #063d1e;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    color: white;
    background-color: var(--cor4);
    text-align: center;
    font-size: .8em;
    padding: 5px;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer > a:hover {
    text-decoration: underline;
    color: #83E1AD;
}